* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 5px 40px;

    position: sticky;
    top: 0;

    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}


.logo {
   width: 100px;
    height: auto;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: #f58426;
}

p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.hero {
    height: 100vh;
    background: url("img/fundo-header.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header-conteudo {
    text-align: center;
    position: relative;
    z-index: 1;
    display: flex;
    max-width: 1200px;
    padding: 0 40px;
    flex-direction: column;
    gap: 20px;
}

.header-conteudo h1 {
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 120px;
    margin-bottom: 0px;
    margin-top: 30px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.header-conteudo p {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 600;
    text-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

.btn-matricula a {
    flex-direction: column;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 1;
    padding: 12px 30px;
    width: auto;
    text-decoration: none;
    font-size: 20px;
    border-radius: 6px;
    margin-top: 20px;
    
    font-weight: 600;
    background-color: #f58426;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s ease;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

body {
    overflow-x: hidden;
}

.horariospage {
    background-color: black;
    color: #ffffff;
    padding: 40px 20px;
    text-align: center;
}
.horariospage h2 {
    color: #f58426;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

.horariospage dl {
    display: inline-block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.6; 
    justify-content: space-between;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.horariospage dt {
    margin-top: 10px;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

footer {
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    font-size: 5px;
    font-family: 'Montserrat', sans-serif;
}

.planospage {
    background-color: black;
    color: #ffffff;
    padding: 40px 20px;
    text-align: center;
}

.planos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.planospage h2 {
    color: #f58426;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
    margin-bottom: 30px;
}

.planospage p {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6; 
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.planospage h3 {
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.plano {
    background-color: #f58426;
    color: #ffffff;
    padding: 40px 20px;
    text-align: center;
    border-radius: 6px;
    margin-top: 20px;
    width: 250px;
    height: 350px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s ease;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.plano:hover {
    transform: translateY(-5px);
}

.bold-p {
    font-weight: 600;
    margin-top: 20px;
}

.produtospage {
    background-color: black;
    color: #ffffff;
    padding: 60px 40px;
    text-align: center;
}

.produtospage h2 {
    color: #f58426;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
    margin-bottom: 30px;
}

.produtospage p {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6; 
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.produtos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}   

.produto {
    background-color: #f58426;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s ease;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.produto img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 15px;
}

.contatopage {
    background-color: black;
    color: #ffffff;
    padding: 60px 40px;
    
}

.contatopage h2 {
    color: #f58426;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}

.contatopage p {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6; 
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.contato-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
